.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}